header{
    font-size: 40px;
    background: rgb(238, 101, 9);
    text-align: center;
    color:white;
    margin-top: 0px;
    padding: 20px 0% 20px 0%;
}
.form_lc{
    font-weight: bold;
    margin: 0px 30% 0px 30%;
    padding:20px 0% 20px 3%;
    background: whitesmoke;
    margin-top: 100px;
    box-shadow: 20px 20px 20px black;
}
